<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}"
              rel="stylesheet" type="text/css">

        <!-- jQuery -->
        <script src="{{ url_for('static', filename='plugins/jquery/dist/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>

        <style type="text/css">
            body {
                background: url(/static/imgs/bg1.jpg) no-repeat;
                font-size: 16px;
            }
        </style>
        {% block header_script %}{% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}
</body>

</html>