{% extends "install/install_base.html" %}
{% block title %}欢迎使用——Tube{% endblock %}

{% block header_script %}
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">
{% endblock %}

{% block body_content %}
    <div>
        <form id="msform" name="msform">
            <fieldset>
                <i class="fa fa-warning fa-2x" aria-hidden="true"></i>
                <br/>
                <br/>
                <h2 class="fs-title">检测到已经安装了Tube系统</h2>
                <br/>
                <h3 class="fs-subtitle">请删除 <b>public/install.lock</b>文件后再访问本页面进行安装！</h3>
            </fieldset>
        </form>
    </div>
{% endblock %}
