<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">

        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/install-step-by-step.css') }}" />
        <title>{% block title %}{% endblock %}</title>
        {% block header_script %}{% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
    {% block body_content %} {% endblock %}
    <script src="{{ url_for('static', filename='plugins/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/install-step-by-step.js') }}"></script>
    {% block footer_script %}{% endblock %}
{% endblock %}
</body>
</html>

